<%ab="text-shadow:-0.5px -0.5px 0 #525252,0.5px -0.5px 0 #525252,-0.5px 0.5px 0 #525252,0.5px 0.5px 0 #525252;"%>
<%new_coll=Spree::NewCollection.last%>
<div class="widget">
                            <div class="sidebar-banner">
                                <img src="<%=new_coll.new_collection_img(:medium)%>" alt="artanzels new collection" class="img-responsive">
                                <div class="sidebar-banner-content">
                                    <div class="vcenter-container">
                                        <div class="vcenter">
                                            <h5 style="<%=ab%> color:#ffffff !important;"><span><%=new_coll.new_collection_h1%></span><%=new_coll.new_collection_h2%></h5>
                                            <a style="color:#ffffff ;" href="/t/<%=new_coll.new_collection_url%>" class="btn btn-custom-7 min-width-md">Take a Look</a>
                                        </div><!-- End .vcenter -->
                                    </div><!-- End .vcenter-container -->
                                </div><!-- End .sidebar-banner-content -->
                            </div><!-- End .sidebar-banner -->
                        </div><!-- End .widget -->

   <div class="xs-margin"></div><!-- space -->

   <%ad=Spree::Adv.last%>
<div class="widget">
                            <div class="sidebar-banner">
                                <img src="<%=ad.adv_img(:medium)%>" alt="artanzels sculptures" class="img-responsive">
                                <div class="sidebar-banner-content">
                                    <div class="vcenter-container">
                                        <div class="vcenter"> 
                                            <h5 style="<%=ab%> color:#ffffff !important;"><span><%=ad.adv_h1%></span><%=ad.adv_h2%></h5>
                                            <a style="color:#ffffff ;" href="/t/<%=ad.adv_url%>" class="btn btn-custom-7 min-width-md">Jup to the Page</a>
                                        </div><!-- End .vcenter -->
                                    </div><!-- End .vcenter-container -->
                                </div><!-- End .sidebar-banner-content -->
                            </div><!-- End .sidebar-banner -->
                        </div><!-- End .widget -->