<div data-hook="admin_info_form_fields" class="row">
  <div class="col-md-6">
    <%= f.field_container :info_h1, class: ['form-group'] do %>
      <%= f.label :info_h1 %>
      <%= f.text_field :info_h1, class: 'form-control' %>
      <%= error_message_on :info, :info_h1 %>
    <% end %>

    <%= f.field_container :info_p, class: ['form-group'] do %>
      <%= f.label :info_p %>
      <%= f.text_area :info_p, class: 'form-control' %>
      <%= error_message_on :info, :info_p %>
    <% end %>

  </div>
</div>
