<% content_for :page_title do %>
  <%= Spree.t(:listing_new_collections) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_new_collection), new_object_url, class: 'btn-success', icon: 'add', id: 'admin_new_new_collection_link' %>
<% end if can?(:create, Spree::NewCollection) %>

<table class="table" id="listing_new_collections" data-hook>
  <thead>
    <tr data-hook="admin_new_collections_index_headers">
      <th><%= t(:new_collection_h1, scope: 'activerecord.attributes.spree/new_collection') %></th>
      <th data-hook="admin_new_collections_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @new_collections.each do |new_collection| %>
      <tr id="<%= spree_dom_id new_collection %>" data-hook="admin_new_collections_index_rows" class="<%= cycle('odd', 'even')%>">
        <td><%= link_to new_collection.new_collection_h1, edit_object_url(new_collection) %></td>
        <td><%=new_collection.new_collection_h2%></td>
        <td><%=truncate(new_collection.new_collection_url,length: 10)%></td>
        <td><%=image_tag new_collection.new_collection_img(:thumb)%></td>
        <td data-hook="admin_new_collections_index_row_actions" class="actions text-right">
          <%= link_to_edit new_collection, no_text: true %>
          <%= link_to_delete new_collection, no_text: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @new_collections %>
