<% content_for :page_title do %>
  <%= Spree.t(:new_second_slide) %>
<% end %>

<%=image_tag asset_path('slides/slide2.png')%>
<div data-hook="admin_second_slide_new_form_header">
  <%= render 'spree/shared/error_messages', target: @second_slide %>
</div>

<div data-hook="admin_second_slide_new_form">
  <%= form_for [:admin, @second_slide] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <%= render 'spree/admin/shared/new_resource_links' %>
      </div>
    </div>
  <% end %>
</div>
