<% content_for :page_title do %>
  <%= Spree.t(:editing_first_slide) %>
<% end %>
<%=image_tag asset_path('slides/slide1.png')%>
<div data-hook="admin_first_slide_edit_form_header">
  <%= render 'spree/shared/error_messages', target: @first_slide %>
</div>

<div data-hook="admin_first_slide_edit_form">
  <%= form_for [:admin, @first_slide] do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'form', f: f %>
        <%= render 'spree/admin/shared/edit_resource_links' %>
      </div>
    </div>
  <% end %>
</div>
