<% #content_for :sidebar do %>
  <!-- <div data-hook="homepage_sidebar_navigation">
    <%#= render :partial => 'spree/shared/taxonomies' %>
  </div> -->
<% #end %>

<!-- <div data-hook="homepage_products">
  <% #cache(cache_key_for_products) do %>
    <%#= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <%# end %>
</div> -->


<section id="content" role="main">
    <div class="container">
        <div class="row">
<!--========== START ===========-->
			<div class="col-md-9 col-md-push-3 col-sm-12">
				<%=render 'spree/shared/custom/slider_container'%>
				<div class="md-margin hidden-xs"></div><!-- space -->
				<%=render 'spree/shared/custom/banner_group'%>

				<div class="md-margin hidden-xs"></div><!-- space -->
                <div class="sm-margin visible-xs"></div><!-- space -->

                <div class="simple-tab-container">
                            <!-- Tab nav -->
                            <ul class="nav nav-pills" role="tablist">
                                <li class="active"><a role="tab" data-toggle="tab">Recently Added to Collection</a></li>
                                <!-- <li><a href="#bestsellers" role="tab" data-toggle="tab">Bestsellers</a></li>
                                <li><a href="#featured" role="tab" data-toggle="tab">Featured</a></li> -->
                            </ul>
                            <%=render 'spree/shared/custom/tab_product'%>
                            	
                        		<div class="xs-margin visible-xs"></div><!-- space -->
                        	<%=render 'spree/shared/custom/newsletter'%>

                        		 <div class="lg-margin2x hidden-sm hidden-xs"></div><!-- space -->
		                         <div class="md-margin2x visible-sm"></div><!-- space -->
		                         <div class="lg-margin visible-xs"></div><!-- space -->

		                    <%=render 'spree/shared/custom/info'%>   

                                   <div class="lg-margin2x hidden-sm hidden-xs"></div><!-- space -->
                                   <div class="md-margin2x visible-sm visible-xs"></div><!-- space -->

                            <%=render 'spree/shared/custom/artist_show'%> 

                                    <div class="md-margin hidden-xs"></div><!-- space -->   

                            <%=render 'spree/shared/custom/test_show'%>

                </div><!--endsimple tab container-->


			            <div class="md-margin2x hidden-xs"></div><!-- space -->
                        <div class="xlg-margin visible-xs"></div><!-- space -->
            </div><!-- End .col-md-9 -->

            <aside class="col-md-3 col-md-pull-9 col-sm-12 sidebar home-sidebar light" role="complementary">

                    <%=render 'spree/shared/custom/side_cat'%>
                    <%=render 'spree/shared/custom/top_artist'%>
                    <%=render 'spree/shared/custom/premium_widget'%>
                    <%=render 'spree/shared/custom/tag_cloud'%>
                     <div class="xs-margin"></div><!-- space -->
                    <%=render 'spree/shared/custom/new_collection'%> 
            </aside>
<!--========== END ===========-->

		</div><!-- End .row -->
    </div><!-- End .container -->
</section>